{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="container py-5">
    <h1>Привет, я автор</h1>
    <p>
      Тут я размещу информацию о себе используя свои умения верстать.
      Картинки, блоки, элементы бустрап. А может быть, просто напишу несколько абзацев текста. 
    </p>
    <p>Имя: Анна</p>
    <p>Фамилия: Русанова</p>
    <p>Отчество: Константиновна</p>
    <p>Увлечения: Люблю рисовать, плести фенечки. Изучаю японский язык и программирование.
       Коллекционирую фигурки Funko POP!
    </p>
    <p>Аккаунт в Github: https://github.com/RusanovaAnna</p>
    <p>Во время работы мне помогали мои кошки</p>
    {% load static %}
    <img src="{% static 'img/cats.jpg' %}" width="300" height="347" >
  </div>
{% endblock %}
