{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>Текст страницы "Технологии"</p>
    <body>
      <p>Для создания этого сайта мне понадобилось очень много сил и терпения.</p>
      <p>В общих чертах я поняла все, что делала, но вряд ли смогу что-то объяснить 
        (Проблема в моем восприятии, я могу объяснить только то, что могу представить в голове, как образ или картинку).</p>
      {% load static %}
      <img src="{% static 'img/tech.png' %}">
    </body>
  </article>
</div>
{% endblock %}